.place__title {
    font-weight: 900;
    line-height: 76px;
    font-size: 72px;
    margin: 0;
    color: white;
    text-decoration: none;
    align-self: end;
    justify-self: start;
    grid-column: 1;
    grid-row: 1/2;
}