@import url(/blocks/vendor/normalize.css);
@import url(/blocks/vendor/fonts/fonts.css);
.page {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    background-color: #2A2C2F;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px 0;
}
.logo {
    
}
li {
    list-style-type: none;
    display: inline;
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}   
.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.lead__image {
    width: 100%;
    margin-bottom: 8px;
}
.lead__caption {
    margin: auto 16px;
}
.intro {
    margin: 0 16px 0;
}
.intro__title {
    font-weight: bold;
    line-height: 35px;
    font-size: 32px;
    margin: 0 0 40px;
}
.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
}
.intro__list {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.photo-grid {
    margin: 0 16px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}
@media screen (max-wdth: 1280px) {
    .photo-grid {
        margin: 0 16px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 284px); gap: 16px;
    }
}
.photo-grid__item {

}
.places {
    margin: 0 148px;
}
.place{
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 16px;
}
.place__title {
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    font-size: 32px;
    margin: 33px auto 16px;
    color: white;
    text-decoration: none;
    align-self: end;
    justify-self: start;
    grid-column: 1;
    grid-row: 1/2;
}
.place__url-heading {
    color: #aaaaa;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    justify-self: start;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
}
.place__link {
    color: white;
    grid-column: 2;
    grid-row: 2;
}
.place__photo {
    width: 100%;
    max-width: 460px;
    align-self: end;
    justify-self: start;
    grid-column: 1;
    grid-row: 3/5;
}
.place__paragraph {
    margin: 16px;
    align-self: start;
    justify-self: start;
}

.place__paragraph_place_top{
    grid-column: 2;
    grid-row: 3/4;
}
.place__paragraph_place_bottom{
    grid-column: 2;
    grid-row: 4/5;
}
.cover {
    background: url(/images/baikal_poezd.jpg) 100% 100% no-repeat;
    background-size: cover;
    padding: 33px 16px;
    opacity: 0.8;
}

.cover:hover {
    opacity: 0.3;
    transition: all 1s;
}

.cover__overlay {
    text-decoration: none;
    color: white;
}

.cover__background{
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.cover__title {
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    font-size: 32px;
    margin: 0 auto 16px;
    color: white;
    text-decoration: none;
}
.cover__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
}
.footer {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.footer__link {
    line-height: 24px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-top: 32px;
    cursor: pointer;
}
.footer__copyright {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;

}