@media screen and (max-width: 1279px) {
    /* стили для планшета в альбомной ориентации */
    .page {
        max-width: 1024px;
    }
    .header {
        max-width: 928px;
    }
    .content {
        max-width: 100%;
    }
    .lead {
        max-width: 928px;
        margin: 0 auto;
    }
    .lead__title {
        margin: 48px 104px 32px;
    }
    .lead__subtitle {
        max-width: 640px;
        margin: 0 auto 56px;
    }
    .intro__title {
        margin: 0 0 40px 48px;
    }
    .intro__text {
        margin-left: 48px;
    }
    .intro-list__list-item {
        margin-left: 48px;
    }

    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
    .photo-grid__item {
        height: 225px;
        width: 300px;
    }

    .places {
        max-width: 928px;
    }

    .place {
        grid-template-columns: 440px auto;
    }
    .place__url-container {

        margin-left: 32px;
    }
    .place__link {

    }
    .place__paragraph {
        margin-left: 32px;
    }


    .cover {
        max-width: 1024px;
    }
    .cover__title {
    margin: 195px  232px 0 232px;
    }
    .cover__subtitle {
        margin: 379px 332px auto 332px;
    }
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    /* стили для планшета в альбомной ориентации */
    .page {
        max-width: 768px;
    }
    .header {
        max-width: 720px;
    }
    .content {
        gap: 88px;
    }
    .lead {
        max-width: 100%;
    }
    .lead__title {
        margin: 48px 24px 32px;
    }
    .lead__subtitle {
        max-width: 640px;
        margin: 0 auto 56px;
    }
    .lead__caption {
        margin-left: 24px;
    }
    .intro__title {
        margin-left: 24px;
        max-width: 720px;
    }
    .intro__text {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 100%;
    }
    .intro-list__list-item {
        margin-left: 24px;
        font-size: 12px;
        line-height: 18px;
    }

    .photo-grid {
        max-width: 720px;
        gap: 16px;
    }
    .photo-grid__item {
        height: 264px;
        width: 352px;
    }

    .places {
        max-width: 720px;
    }

    .place {
        grid-template-columns: 340px auto;
    }
    .place__title {
        margin-left: 0;
        line-height: 46px;
        font-size: 42px;
    }
    .place__url-container {
        margin-left: 28px;
    }
    .place__link {

    }
    .place__photo {
        margin-left: 0px;
        width: 340px;
    }
    .place__paragraph {
        margin-left: 28px;
        max-width: 352px;
    }


    .cover {
        width: 768px;
        height: 480px;
    }
    .cover__title {
        margin: 115px  104px 0 104px;
    }
    .cover__subtitle {
        margin: 299px 204px auto 204px;
    }
    .footer {
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .footer__link {
        margin-top: 88px;
    }
    .footer__copyright {
        margin: 90px 0 0 auto;
    }
    
}
@media screen and (max-width: 768px) {
    /* стили для планшета */
    .page {
        max-width: 320px;
    }
    .header {
        max-width: 288px;
    }
    .header__logo {
        width: 142px;
        height: 42px;
        margin-top: 16px;
    }
    .header__lang-links {
        margin-top: 16px;
    }
    .header__lang-link {
        line-height: 20px;
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 8px;
    }
    .content {
        gap: 64px;
    }
    .intro__title {
        margin-left: 16px;
        line-height: 35px;
        font-size: 32px;
        max-width: 288px;
    }
    .intro__text {
        width: 288px;
        margin-bottom: 34px;
        margin-left: 16px;
    }
    .intro-list {
        width: 288px;
    }
    .intro-list__list-item {
        margin-left: 16px;
    }


    .lead {
        max-width: 320px;
        margin: 0;
    }

    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 288px;
        gap: 12px;
        margin-left: 16px;
    }
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
    .place {
        margin: 0;
        display: block;
        width: 320px;
    }
    
    .place__title {
        grid-column: 1/-1;
        grid-row: 1;
        line-height: 35px;
        font-size: 32px;
        margin-left: 16px;
    }
    .place__url-container {
        margin-left: 16px;
    }
    .place__url-heading {
        margin-top: 32px;
        margin-bottom: 12px;
    }
    .place__photo {
        width: 320px;
    }
    .place__paragraph {
        margin-top: 32px;
        margin-left: 16px;
        width: 288px;
        font-size: 16px;
        line-height: 26.08px;
    }
    .place__paragraph_location_bottom {
        margin: 25px 0 0;
    }
    .cover {
        width: 320px;
        height: 200px;
        margin: 0;
    }
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 33px 16px 0 16px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 119px 16px 0 16px;
        width: 288px;
    }
    .footer {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 0;
        margin-top: 64px;
        display: block;
    }
    .footer__links {
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        margin: 0;
    }
    .footer__link {
        margin: 0;
        margin-bottom: 32px;
    }
    .footer__link:last-child {
        margin-bottom: 0;
    }
    .footer__copyright {
        margin-top: 48px;
        padding-bottom: 24px;
        line-height: 14px;
    }
    .lead__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin: 48px 16px 16px;
        width: 288px;
    }   
    .lead__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin: 0 16px 40px;
        width: 288px;
    }
    .lead__image {
        margin-bottom: 8px;
    }
    .lead__caption {
        width: 158px;
    }
    .intro__text {
        width: 288px;
        margin-bottom: 34px;
        margin-left: 16px;
    }
    .intro-list {
        width: 288px;
    }
    .intro-list__list-item {
        margin-left: 16px;
    }
} 

}
@media (max-width: 320px) {
    .body {
        max-width: 320px;
    }
    .page {
        max-width: 320px;
    }
    .content {
        display: block;
    }
    .lead {
        max-width: 100%;
        margin: 0;
    }
    .lead__image {

    }
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 320px;
        gap: 12px;
    }

    .footer {
        width: 320px;
    }
    .lead {
        max-width: 320px;
        margin: 0;
    }
    .lead__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin: 48px 16px 16px;
        width: 288px;
    }   
    .lead__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin: 0 16px 40px;
        width: 288px;
    }
    .lead__image {
        width: 100%;
        margin-bottom: 8px;
    }
    .lead__caption {
        width: 158px;
    }
    .intro__title {
        max-width: 690px;
        font-weight: 900;
        line-height: 58px;
        font-size: 54px;
        margin: 0 0 40px 100px;
    }
    .intro__title {
        max-width: 288px;
        font-weight: 900;
        line-height: 35px;
        font-size: 32px;
        margin: 0;
    }
    .intro__text {
        width: 288px;
        margin-bottom: 34px;
        margin-left: 16px;
    }
    .intro-list {
        width: 288px;
    }
    .intro-list__list-item {
        margin-left: 16px;
    }


    .places {
        margin: 0 auto;
        width: 320px;
}
    .place {
        margin: 64px 0;
        display: block;
        width: 320px;
    }
    .place__title {
        grid-column: 1/-1;
        grid-row: 1;
        line-height: 35px;
        font-size: 32px;
    }
    .place__url-heading {
        grid-column: 1/-1;
        grid-row: 2;
    }
    .place__link {
        grid-column: 1/-1;
        grid-row: 3;
    }
    .place__photo {
        grid-column: 1/-1;
        grid-row: 4;
        width: 320px;
    }
    .place__paragraph {
        width: 288px;
        font-size: 16px;
        line-height: 26.08px;
        margin-left: 0;
    }

    .place__paragraph_place_top {
        grid-column: 1/-1;
        grid-row: 5;
    }
    .place__paragraph_place_bottom {
        grid-column: 1/-1;
        grid-row: 6;
    }
    .footer {
        width: 320px;
        display: block;
    }
    .footer__links {
        display: block;
    }
} 