.header__logo {
    width: 176px;
    height: 52px;
    margin-top: 28px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
        margin-top: 16px;
        margin-left: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .header__logo {
        margin-left: 24px;
    }
}
