.place__paragraph {
    margin-top: 48px;
    margin-left: 40px;
    max-width: 484px;
    align-self: start;
    justify-self: start;
    grid-column: 2;
    grid-row: 3/5;
    font-size: 18px;
    line-height: 29.34px;
    font-weight: 400;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__paragraph {
        margin-left: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        margin-left: 28px;
        max-width: 352px;
        line-height: 163%;
    }
}
@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-top: 32px;
        margin-left: 16px;
        max-width: 288px;
        line-height: 26.08px;
    }
}
@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}
