.cover {
    max-width: 1184px;
    background-color: #2a2c2f;
    display: flex;
    align-content: center;
    position: relative;
    background: url(../../../images/baikal_poezd.jpg) 100% no-repeat;
    -webkit-background-size: cover;
    width: 100%;
    flex-direction: column;
}

.cover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2a2c2f;
    opacity: 0.3;
    transition: all 1s;
}
.cover:hover:before {
    opacity: 0.8;
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        max-height: 640px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        max-height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        max-height: 200px;
        margin: 0;
    }
}
