.cover__background {
    background: url(../../../images/baikal_poezd.jpg) 100% no-repeat;
    -webkit-background-size: cover;
    width: 100%;
}

.cover__background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2a2c2f;
    opacity: 0.3;
    transition: all 1s;
}
.cover__background:hover:before {
    opacity: 0.8;
}
