.place__paragraph-location {
    grid-column: 2;
    grid-row: 3/5;
    margin-top: 0;
    margin-bottom: 26px;
}
.place__paragraph-location:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .place__paragraph-location {
        margin-bottom: 25px;
    }
}
