.header__lang-links {
    display: flex;
    margin-top: 28px;
    font-weight: 400;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__lang-links {
        margin-top: 30px;
        display: inline;
        margin-bottom: 8px;
        margin-right: 16px;
    }
}
